ION_USER=admin
ION_PASS=hunter2

SCM_CLIENT_ID=admin@12345678910.iam.panserviceaccount.com
SCM_CLIENT_SECRET=hunter2
SCM_TSG_ID=12345678910

SCM_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6...This is only needed if you plan to use the browser token. If you do not plan on using the browser token, delete this line. 
